vendor/LogicApps-Vendor/Logic-VendorAntiVirusScan.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Logic_VendorAntiVirusScan_name": {
            "defaultValue": "Logic-VendorAntiVirusScan",
            "type": "String"
        },
        "connections_commondataservice_externalid": {
            "defaultValue": "/subscriptions/e1945056-88e4-4a46-8bff-99912406c00a/resourceGroups/durindevrg/providers/Microsoft.Web/connections/commondataservice",
            "type": "String"
        },
        "connections_virustotal_externalid": {
            "defaultValue": "/subscriptions/e1945056-88e4-4a46-8bff-99912406c00a/resourceGroups/durindevrg/providers/Microsoft.Web/connections/virustotal",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Logic_VendorAntiVirusScan_name')]",
            "location": "centralindia",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/schemas/2016-06-01/Microsoft.Logic.json",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "BlobUri": {
                                            "type": "string"
                                        },
                                        "RecordId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition_-_Check_BlobUri_and_RecordId": {
                            "actions": {
                                "Condition_-_Check_for_ErrorMessage": {
                                    "actions": {
                                        "Create_error_log_record": {
                                            "runAfter": {
                                                "Update_asset_file_record_status_Virus_Scan_Failed": [
                                                    "Succeeded",
                                                    "Failed"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "_media_assetfiles_value": "@triggerBody()?['RecordId']",
                                                    "media_description": "@variables('ErrorMessage')",
                                                    "media_name": "Error occured during Antivirus Scan"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('unq50e2ec7e45344ace97f49f31b2dad.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('media_asseterrorlogs'))}/items"
                                            }
                                        },
                                        "Response_failure": {
                                            "runAfter": {
                                                "Create_error_log_record": [
                                                    "Succeeded",
                                                    "Failed"
                                                ]
                                            },
                                            "type": "Response",
                                            "kind": "Http",
                                            "inputs": {
                                                "body": {
                                                    "Message": "AntiVirus Scan Failed"
                                                },
                                                "statusCode": 500
                                            }
                                        },
                                        "Update_asset_file_record_status_Virus_Scan_Failed": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "cr35f_virusscanstatus": 207940002
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                    }
                                                },
                                                "method": "patch",
                                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('unq50e2ec7e45344ace97f49f31b2dad.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('cr35f_vendorassetfileses'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['RecordId']))}"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Scope": [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Response_success": {
                                                "runAfter": {},
                                                "type": "Response",
                                                "kind": "Http",
                                                "inputs": {
                                                    "body": {
                                                        "Message": "AntiVirus Scan completed Successfully"
                                                    },
                                                    "statusCode": 200
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "greater": [
                                                    "@length(variables('ErrorMessage'))",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Scope": {
                                    "actions": {
                                        "Analyse_an_URL": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "$content-type": "multipart/form-data",
                                                    "$multipart": [
                                                        {
                                                            "body": "@triggerBody()?['BlobUri']",
                                                            "headers": {
                                                                "Content-Disposition": "form-data; name=\"url\""
                                                            }
                                                        }
                                                    ]
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['virustotal']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/api/v3/urls"
                                            }
                                        },
                                        "Condition_if_file_is_malacious": {
                                            "actions": {
                                                "Set_variable_-_Update_Record_VirusFound-_ErrorMessage": {
                                                    "runAfter": {
                                                        "Update_record_-_VirusFound": [
                                                            "Failed",
                                                            "TimedOut"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "ErrorMessage",
                                                        "value": "Failed to Update Status of RecordId: @{triggerBody()?['RecordId']}"
                                                    }
                                                },
                                                "Update_record_-_VirusFound": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "cr35f_virusscanstatus": 207940000
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                            }
                                                        },
                                                        "method": "patch",
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('unq50e2ec7e45344ace97f49f31b2dad.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('cr35f_vendorassetfileses'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['RecordId']))}"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_JSON": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "Set_variable_-_Update_Record_VirusNotFound_-_ErrorMessage": {
                                                        "runAfter": {
                                                            "Update_record_-_VirusNotFound": [
                                                                "Failed",
                                                                "TimedOut"
                                                            ]
                                                        },
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "ErrorMessage",
                                                            "value": "Failed to Update Status of RercordId @{triggerBody()?['RecordId']}: "
                                                        }
                                                    },
                                                    "Update_record_-_VirusNotFound": {
                                                        "runAfter": {},
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": {
                                                                "cr35f_virusscanstatus": 207940001
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                                }
                                                            },
                                                            "method": "patch",
                                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('unq50e2ec7e45344ace97f49f31b2dad.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('cr35f_vendorassetfileses'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['RecordId']))}"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "greater": [
                                                            "@body('Parse_JSON')?['malicious']",
                                                            0
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Parse_JSON": {
                                            "runAfter": {
                                                "Retrieve_information_about_a_file_or_URL_analysis": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('Retrieve_information_about_a_file_or_URL_analysis')['data']['attributes']['stats']",
                                                "schema": {
                                                    "properties": {
                                                        "harmless": {
                                                            "type": "integer"
                                                        },
                                                        "malicious": {
                                                            "type": "integer"
                                                        },
                                                        "suspicious": {
                                                            "type": "integer"
                                                        },
                                                        "timeout": {
                                                            "type": "integer"
                                                        },
                                                        "undetected": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Retrieve_information_about_a_file_or_URL_analysis": {
                                            "runAfter": {
                                                "Analyse_an_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['virustotal']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/api/v3/analyses/@{encodeURIComponent(body('Analyse_an_URL')?['data']?['id'])}"
                                            }
                                        },
                                        "Set_variable_-_Analyse_URL_-_ErrorMessage": {
                                            "runAfter": {
                                                "Analyse_an_URL": [
                                                    "Failed",
                                                    "TimedOut"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "ErrorMessage",
                                                "value": "Failed to Analyse file for Virus Scan"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Scope"
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_-_ErrorMessage": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Response": {
                                        "runAfter": {},
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "body": {
                                                "message": "BlobUri and RecordId Required"
                                            },
                                            "headers": {
                                                "Content-Type": "application/json; charset=utf-8"
                                            },
                                            "statusCode": 400
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@length(triggerBody()?['RecordId'])",
                                            0
                                        ]
                                    },
                                    {
                                        "greater": [
                                            "@length(triggerBody()?['BlobUri'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_variable_-_ErrorMessage": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ErrorMessage",
                                        "type": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "commondataservice": {
                                "connectionId": "[parameters('connections_commondataservice_externalid')]",
                                "connectionName": "commondataservice",
                                "id": "/subscriptions/e1945056-88e4-4a46-8bff-99912406c00a/providers/Microsoft.Web/locations/centralindia/managedApis/commondataservice"
                            },
                            "virustotal": {
                                "connectionId": "[parameters('connections_virustotal_externalid')]",
                                "connectionName": "virustotal",
                                "id": "/subscriptions/e1945056-88e4-4a46-8bff-99912406c00a/providers/Microsoft.Web/locations/centralindia/managedApis/virustotal"
                            }
                        }
                    }
                }
            }
        }
    ]
}