deployment/logicapps/extractandsavemetadata.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connection_commondataservice": {
            "type": "string",
            "defaultValue": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/commondataservice')]"
        },
        "sites_MediaLakeFunction": {
           "defaultValue": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/sites/',toLower(take(concat('func-', concat('durinmedia',uniqueString(resourceGroup().id))), 60)))]",
            "type": "String"
        },
        "crmOrgName": {
            "type": "string",
            "metadata": {
                "description": "description"
            }
        },
        "crmIdentifier": {
            "type": "string",
            "metadata": {
                "description": "crmIdentifier"
            }
        }
    },
    "functions": [
        {
            "namespace": "durin",
            "members": {
                "wrapInQuote": {
                    "parameters": [
                        {
                            "name": "text",
                            "type": "string"
                        }
                    ],
                    "output": {
                        "value": "[concat('''', parameters('text'),'''')]",
                        "type": "string"
                    }
                }
            }
        }
    ],
    "variables": {
        "org": "[durin.wrapInQuote(concat(parameters('crmOrgName'),'.',parameters('crmIdentifier')))]"
    },
    "resources": [
        {
            "name": "Logic-ExtractAndSaveMetadata",
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/schemas/2016-06-01/Microsoft.Logic.json",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition_-_Check_BlobUri_and_RecordId": {
                            "actions": {
                                "Condition_-_Check_for_ErrorMessage": {
                                    "actions": {
                                        "Create_error_log_record": {
                                            "runAfter": {
                                                "Update_asset_file_record_status_Metadata_extraction_failed": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "_media_assetfiles_value": "@body('Parse_Request_Body_JSON')?['RecordId']",
                                                    "media_description": "@{result('Scope')}",
                                                    "media_name": "Error occured while extracting metadata"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('media_asseterrorlogs'),'))}/items')]"
                                            },
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs",
                                                        "outputs"
                                                    ]
                                                }
                                            }
                                        },
                                        "Response_failure": {
                                            "runAfter": {
                                                "Create_error_log_record": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Response",
                                            "kind": "Http",
                                            "inputs": {
                                                "body": {
                                                    "Message": "Failed to extract and save metadata"
                                                },
                                                "statusCode": 500
                                            },
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs"
                                                    ]
                                                }
                                            }
                                        },
                                        "Update_asset_file_record_status_Metadata_extraction_failed": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "media_metadatastatus": 207940002
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                    }
                                                },
                                                "method": "patch",
                                                "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('media_assetfileses'),'))}/items/@{encodeURIComponent(encodeURIComponent(body(',durin.wrapInQuote('Parse_Request_Body_JSON'),')?[',durin.wrapInQuote('RecordId'),']))}')]"
                                            },
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs",
                                                        "outputs"
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Scope": [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Response_success": {
                                                "runAfter": {},
                                                "type": "Response",
                                                "kind": "Http",
                                                "inputs": {
                                                    "body": {
                                                        "Message": "Metadata extracted and saved successfully"
                                                    },
                                                    "statusCode": 200
                                                },
                                                "runtimeConfiguration": {
                                                    "secureData": {
                                                        "properties": [
                                                            "inputs"
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "greater": [
                                                    "@length(variables('ErrorMessage'))",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Scope": {
                                    "actions": {
                                        "Azure_function_MediaInfo": {
                                            "runAfter": {
                                                "Get_File_extension": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Function",
                                            "inputs": {
                                                "body": {
                                                    "blobUri": "@body('Parse_Request_Body_JSON')?['BlobUri']"
                                                },
                                                "function": {
                                                    "id": "[concat(parameters('sites_MediaLakeFunction'), '/functions/MediaInfo')]"
                                                },
                                                "method": "POST"
                                            },
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs",
                                                        "outputs"
                                                    ]
                                                }
                                            }
                                        },
                                        "Condition_metadata_is_found": {
                                            "actions": {
                                                "Set_variable_-_Update_extracted_metadata_-_ErrorMessage": {
                                                    "runAfter": {
                                                        "Update_extracted_metadata_in_asset_file_record": [
                                                            "Failed",
                                                            "TimedOut"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "ErrorMessage",
                                                        "value": "Failed to update Metadata with RecordId : @{body('Parse_Request_Body_JSON')?['RecordId']}"
                                                    }
                                                },
                                                "Update_extracted_metadata_in_asset_file_record": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "media_mediainfometadata": "@{body('Azure_function_MediaInfo')}",
                                                            "media_metadatastatus": 207940000
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                            }
                                                        },
                                                        "method": "patch",
                                                        "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('media_assetfileses'),'))}/items/@{encodeURIComponent(encodeURIComponent(body(',durin.wrapInQuote('Parse_Request_Body_JSON'),')?[',durin.wrapInQuote('RecordId'),']))}')]"
                                                    },
                                                    "runtimeConfiguration": {
                                                        "secureData": {
                                                            "properties": [
                                                                "inputs",
                                                                "outputs"
                                                            ]
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Azure_function_MediaInfo": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "Update_asset_file_status_metadata_not_found_record": {
                                                        "runAfter": {},
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": {
                                                                "media_metadatastatus": 207940001
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                                }
                                                            },
                                                            "method": "patch",
                                                            "path": "[ concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('media_assetfileses'),'))}/items/@{encodeURIComponent(encodeURIComponent(body(',durin.wrapInQuote('Parse_Request_Body_JSON'),')?[',durin.wrapInQuote('RecordId'),']))}')]"
                                                        },
                                                        "runtimeConfiguration": {
                                                            "secureData": {
                                                                "properties": [
                                                                    "inputs",
                                                                    "outputs"
                                                                ]
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@equals(body('Azure_function_MediaInfo')?['Media'], null)",
                                                            "@false"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Get_File_extension": {
                                            "runAfter": {},
                                            "type": "Compose",
                                            "inputs": "@split(body('Parse_Request_Body_JSON')?['BlobUri'],'.')?[1]",
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs"
                                                    ]
                                                }
                                            }
                                        },
                                        "Set_variable_-_Extract_Metadata_-_ErrorMessage": {
                                            "runAfter": {
                                                "Azure_function_MediaInfo": [
                                                    "Failed",
                                                    "TimedOut"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "ErrorMessage",
                                                "value": "Failed to extract Metadata of Asset file with AssetId: @{body('Parse_Request_Body_JSON')?['RecordId']}"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Scope"
                                }
                            },
                            "runAfter": {
                                "Parse_Request_Body_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Response": {
                                        "runAfter": {},
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "body": {
                                                "message": "BlobUri and RecordId Required"
                                            },
                                            "headers": {
                                                "Content-Type": "application/json; charset=utf-8"
                                            },
                                            "statusCode": 400
                                        },
                                        "runtimeConfiguration": {
                                            "secureData": {
                                                "properties": [
                                                    "inputs"
                                                ]
                                            }
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@length(body('Parse_Request_Body_JSON')?['BlobUri'])",
                                            0
                                        ]
                                    },
                                    {
                                        "greater": [
                                            "@length(body('Parse_Request_Body_JSON')?['RecordId'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_variable_-_ErrorMessage": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ErrorMessage",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Parse_Request_Body_JSON": {
                            "runAfter": {
                                "Initialize_variable_-_ErrorMessage": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "BlobUri": {
                                            "type": "string"
                                        },
                                        "RecordId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs"
                                    ]
                                }
                            }
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "commondataservice": {
                                "connectionId": "[parameters('connection_commondataservice')]",
                                "connectionName": "commondataservice",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/commondataservice')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {}
}